<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customerbonusestab" frontName="customerbonusestab">
            <module name="Unit3_CustomerBonusesTab"/>
        </route>
    </router>
</config>
