<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Sidebar menu: this doesn't have parent neither action
        <add id="Magento_Sales::sales" title="Sales" translate="title" module="Magento_Sales" sortOrder="15" dependsOnModule="Magento_Sales" resource="Magento_Sales::sales"/>
        -->
            <!-- Container/Group menu: this has parent but doesn't have action
            <add id="Magento_Sales::sales_operation" title="Operations" translate="title" module="Magento_Sales" sortOrder="10" parent="Magento_Sales::sales" resource="Magento_Sales::sales_operation" />
            -->
                <!-- Item menu: this has parent and action
                <add id="Magento_Sales::sales_order" title="Orders" translate="title" module="Magento_Sales" sortOrder="10" parent="Magento_Sales::sales_operation" action="sales/order" resource="Magento_Sales::sales_order"/>
                -->

<!--   File that creates Sales menu item is at: vendor/magento/module-sales/etc/adminhtml/menu.xml
id="Magento_Sales::sales_operation"   -->

        <add id="Unit5_AdminController::admincontroller"
             title="Admin Controller" translate="title"
             module="Unit5_AdminController"
             sortOrder="20" action="admincontroller/index/index"
             parent="Magento_Sales::sales"
             resource="Unit5_AdminController::admincontroller" />

        <add id="Unit5_AdminController::adminrouter"
             title="Admin Router" translate="title"
             module="Unit5_AdminController"
             sortOrder="20" action="admincontroller/index/index"
             resource="Unit5_AdminController::admincontroller" />
    </menu>
</config>
